*{
    text-decoration: none;
    }
.navbar{
        background:rgb(52, 17, 17);
		font-family: calibri;
		padding-right: 15px;
		padding-left: 15px;
		}
.navdiv{
		display: flex;
		align-items: center;
		justify-content: space-between;

		}
.logo img{
		width: 126px;
		height: 47px;
		color: Black;
		}
li{
		list-style: none;
		display: inline-block;
		}
li a{
		color: black;
		font-size: 25px;
		font-weight: bold;
		margin-right: 20px;
		}
button{
		background-color: black;
		color:white;
		margin-left: 10px;
		padding: 10px;
		}
.info {
        background-color: #2196F3;
        } /* Blue */
.info:hover {
            background: #0b7dda;
            }