<!DOCTYPE html>
{% extends 'crudbar.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read</title>
    <style>
        table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                        padding: 15px;%
                        }
        th{
      background-color:rgb(200, 200, 200);
      }
      td{
      background-color:rgb(240, 240, 240);
      }
      h1{text-align:center;
      font-size:20px;
      color:#2196F3;
      }
      h1:hover {
            color: green;
            font-size: 21px;
            }
    </style>
</head>
<body>
<table style="width:100%; height:100%;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Subject</th>
    <th>Status</th>
    <th>Comment</th>
    <th colspan="2" >Actions</th>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.contact }}</td>
    <td>{{ i.subject }}</td>
    <td>{{ i.status }}</td>
    <td>{{ i.comment }}</td>
    <td><a href="/update/{{ i.pk }}"><h1>Update</h1></a></td>
    <td><a href="/delete/{{ i.pk }}"><h1>Delete</h1></a></td>
  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
</html>
